<nav>
  <a href="/">Home</a>
  <a href="/example-1/page-1">Page 1</a>
  <a href="/example-1/page-2">Page 2</a>
</nav>

<style>
nav {
    padding: 1rem;
    background-image: var(--bright-gradient);
    position: sticky;
    top: 0;
  }

  a {
    padding: 1rem;
    color: white;
    font-weight: bold;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: .2rem;
    text-underline-offset: .3rem;
  }
</style>
