---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import {Image} from 'astro:assets'
---

<Layout title="View Transition By Example">
	<main>
		<h1>Welcome to <span class="text-gradient">View Transition By Example</span></h1>
		<p class="instructions">
			A place to see what is possible using the View Transition API.
		</p>
		<ul role="list" class="link-card-grid">
			<Card
				href="/example-1/page-1/"
				title="Example 1: Basic"
				body="Basic website, er, 'MPA' behavior, using just a <meta> tag."
			/>
			<Card
				href="/example-2/page-1/"
				title="Example 2: Zoom in/out"
				body="MPA behavior using a <meta> tag and some CSS animation"
			/>
			<Card
				href="/example-3/page-1/"
				title="Example 3: Flip Animation"
				body="MPA behavior using a <meta> tag and some CSS animation"
			/>
			<Card
				href="/example-4/page-1/"
				title="Example 4: Slide In / Out Animation"
				body="MPA behavior using a <meta> tag and some CSS animation"
			/>
			<Card
				href="/example-5/page-1/"
				title="Example 5: Slide Up / Down Animation"
				body="MPA behavior using a <meta> tag and some CSS animation"
			/>
			<Card
				href="/example-6/page-1/"
				title="Example 6: Flip In / Flip Out Animation"
				body="MPA behavior using a <meta> tag and some CSS animation. Don't actually do this one."
			/>

		</ul>
		<p class="instructions">
			As of Chrome 111, SPA view transitions are enabled by default. To see the MPA transitions on this site, you'll need to enable the view transition navigation flag in Chrome at <code>chrome://flags/#view-transition-on-navigation</code>.
		</p>
		<Image
			src="/chrome-flags.png"
			alt="Screenshot of Chrome flags with them enabled"
			width={749}
			height={226}
			format='png'
			loading="lazy" />

		<p style="text-align: center;">©copyright 2024 <a href="https://chipcullen.com">Chip Cullen</a></p>
	</main>
</Layout>
