<nav>
  <a href="/">Home</a>
  <a href="/example1/">Page 1</a>
  <a href="/example1/page2">Page 2</a>
</nav>

<div class="warning">Your browser does not support the CSS View Transition API</div>

<style>
  .warning {
    outline: 1px solid red;
  }

  @supports (view-transition-name: root) {
    .warning {
      display: none;
    }
  }

  nav {
    padding: 1rem;
    background-image: var(--accent-gradient);
  }

  a {
    padding: 1rem;
  }
</style>
