---
const {exampleNo, vertical = false} = Astro.props;

const example = `example-${exampleNo}`;
const className = vertical ? 'vertical' : 'horizontal';
---

<nav class={className}>
  <a href="/">Home</a>
  <a href=`/${example}/page-1/`>Page 1</a>
  <a href=`/${example}/page-2/`>Page 2</a>
</nav>

<style>
nav {
  padding: 1rem;
  background-image: var(--bright-gradient);
  position: sticky;
  top: 0;
  z-index: 4;
}

nav.vertical {
  width: 6rem;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  background-image: var(--bright-gradient--vert);
}
a {
  padding: 1rem;
  color: white;
  font-weight: bold;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: .2rem;
  text-underline-offset: .3rem;
}
</style>
