---
import Layout from '../../layouts/Example-1-Layout.astro';
import Card from '../../components/Card.astro';
---

<Layout title="Welcome to Page 2">
		<h1>Welcome to <span class="text-gradient">Page 2</span></h1>
		<p class="instructions">
			This is the second page in this very basic example using <em>just</em> a <code>meta</code> tag.
		</p>
		<ul role="list" class="link-card-grid">
			<Card
				href="../page-1/"
				title="Page 1"
				body="Back to the first page of this simple example."
			/>
		</ul>
</Layout>
