---
import Layout from "./Layout.astro";
import Header from "../components/Example-Header.astro";
import Warning from "../components/Warning.astro";

export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<Layout title={title} enableViewTransitionMetaTag={true}>
  <Warning />
  <Header exampleNo={6} />
  <main>
    <slot />
  </main>
</Layout>

<style>
  main {
    view-transition-name: main;
  }

  @keyframes flipIn {
    from {
      opacity: 0;
      scale: 0.5;
      transform: translate(-100%, 0) scale(0.5) rotate(-359deg);
    }

    to {
      opacity: 1;
      scale: 1;
      transform: translate(0) scale(1) rotate(0);
    }
  }

  @keyframes flipOut {
    from {
      opacity: 1;
      transform: rotate(0) scale(1);
    }

    to {
      opacity: 0;
      transform: rotate(359deg) scale(.5) translate(1000px, 0);
    }
  }

  /* New stuff coming in */
  :root::view-transition-new(main) {
    animation: flipIn 0.3s ease-in forwards;
    width: fit-content;
    z-index: 1;
  }

  /* Old stuff coming out */
  :root::view-transition-old(main) {
    animation: flipOut 0.2s ease-out forwards;
    width: fit-content;
    z-index: 1;
  }
</style>
