---
export interface Props {
	title: string;
	enableViewTransitionMetaTag?: boolean;
}

const { title, enableViewTransitionMetaTag = true } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		{
			enableViewTransitionMetaTag === true && (
				<meta name="view-transition" content="same-origin" />
			)
		}
		<link rel="stylesheet" href="/prism-atom-dark.css" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: oklch(80% .4 222);
		--accent-gradient: linear-gradient(
			45deg in oklab,
			var(--accent) 0%,
			oklch(35% .5 313) 100%);
		--accent-gradient--vert: linear-gradient(
			0deg in oklab,
			var(--accent) 0%,
			oklch(35% .5 313) 100%);
		--bright-gradient: linear-gradient(
      to right in oklab,
      oklch(55% .45 350) 14% 0%,
			oklch(100% .4 95) 76% 94%);
		--bright-gradient--vert: linear-gradient(
      to bottom in oklab,
      oklch(55% .45 350) 14% 0%,
			oklch(100% .4 95) 76% 94%);
	}
	html {
		font-family: system-ui, sans-serif;
		background-color: #F6F6F6;
	}

	body {
		margin: 0;
	}

	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 40rem;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}

	main img {
	  width: 100%;
		height: auto;
		background-color: grey;
	}

	  /* Old stuff coming out */
  :root::view-transition-old(main) {
    width: fit-content;
  }
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>
